<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chuang.mapper.UserMapper">
	<!-- 增 -->
	<insert id="insertUser" parameterType="com.chuang.model.User">
		<selectKey keyProperty="id" order="AFTER" resultType="int">
			select
			LAST_INSERT_ID()
		</selectKey>
		INSERT INTO userinfo(username, password, phone,imgurl)
		VALUES(#{username},#{password},#{phone},#{imgUrl})
	</insert>
	<!-- 改 -->
	<update id="updateUser" parameterType="com.chuang.model.User">
		update userinfo set
		username = #{username},password = #{password} where id = #{id}
	</update>

	<!-- <select id="selectById" parameterType="int" resultType="com.chuang.model.User"> -->
	<!-- select * from userinfo where id = #{id} -->
	<!-- </select> -->
	<select id="selectByName" parameterType="java.lang.String"
		resultType="User">
		select * from userinfo where username like '%${value}%'
	</select>


</mapper>